**/.DS_Store
**/.AppleDouble
**/.LSOverride
**/__pycache__
**/postgres-data

.env
.idea
.vscode

# containers volumes
db/data
db/storage
db/export

# services
domain
recommendations
snoopy
streaming
ui